*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;

}

#container{
    width: 600px;
    height: 400px;
    display: flex;
    border: 2px solid black;
}

#left{
    width: 300px;
    height: 400px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#right{
    width: 300px;
    height: 400px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.list{
    background-color: white;
    height: 60px;
    width: 90%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    border-radius: 20px;
    opacity: 0;
}